[Desktop Entry]
Charset=
Hidden=false
Keys=sp,startpage
Name=Startpage
Query=https://www.startpage.com/do/dsearch?q=\\{@}&language=english
Type=Service
