[Desktop Entry]
Charset=
Hidden=false
Keys=wiki
Name=Wikipedia (Deutsch)
Query=https://de.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Type=Service
